.container-header {
    background-color: blueviolet;
    width: 100%;
    height: auto;
}

.btn-header {
    color: black;
    background: white;
    width: 6rem;
    height: 55px;
    border-radius: 3px;
    border-color: white;
    text-align: center;
    &:hover{
        background-color: #a5a5a5;
    }
    &:active {
        background-color: #6d6d6d;
        border-color: #6d6d6d;
    }
    &:focus {
        background-color: #6d6d6d;
        border-color: #6d6d6d;
    }
    &:disabled {
        background-color: white;
    }
}